$stepItemFirstColor: rgb(213, 207, 255);
$stepItemSecondColor: hsl(248, 53%, 58%);
$navbarBackground: cornflowerblue;

%wholeScreenSize {
  width: 100%;
  height: 100%; 
}

%navbar {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: $navbarBackground;
}

*{
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 85% 5%;  
}

.navbar {
  @extend %navbar;
}

.main {
  @extend %wholeScreenSize;
}

.form-page {
  @extend %wholeScreenSize; 
  display: grid;
  grid-template-rows: 5% 95%;
  .form-page__menu {       
    background-color: $stepItemSecondColor;
    display: grid;
    grid-template-columns: repeat(4, 1fr);        
  }
  .form-page__content {
    background-color: tomato;
    display: grid;
    grid-template-rows: 90% 10%;
    .form-page__content-data {

    }
    .form-page__content-tools {
    // background-color: darkorchid;
    border-top: 1px solid $stepItemFirstColor;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    }
  }
}

.step-item {     
  color: $stepItemFirstColor; 
  display: grid;  
  .step-item__name {
    @extend %wholeScreenSize;     
    display: grid;
    justify-content: center;
    align-content: center;    
  } 
}

.step-item_selected{
  color: $stepItemSecondColor;
  background-color: $stepItemFirstColor;
  
}

.button-toggle-step__prev {
  cursor: pointer;
  }
  
  .button-toggle-step__next {
    cursor: pointer;
  
  }  

.footer {
  @extend %navbar;
}

